.Flow {
  width: 96%;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  .container {
    flex: 0 0 50%;
    width: 800px;
    height: 600px;
    border: 1px solid red;
  }
  .edit-box {
    padding: 20px;
    border: 1px solid red;
    flex: 0 0 46%;
  }
}